{% extends 'base.html.twig' %}


{% block body %}

    <div class="header">
        <h1 class="display-4">Aïkido Club De Bourg-en-Bresse</h1>
        <p>Bienvenue sur le site du Club</p>
        <hr class="my-4">
        
        <p>
            <a class="btn btn-primary btn-lg" href="{{ path('club') }}" role="button">Rejoignez nous !</a>
        </p>
    </div>  
  
{% endblock %}
