{% extends 'base.html.twig' %}


{% block body %}
<div class="container-fluid">

    <div class="jumbotron">
        <h1 class="display-4">Aïkido Club De Bourg-en-Bresse</h1>
        <p class="lead">Bienvenue sur le site du Club</p>
        <hr class="my-4">
        
        <p class="lead">
            <a class="btn btn-primary btn-lg" href="{{ path('club') }}" role="button">Rejoignez nous !</a>
        </p>
    </div>  
  
</div>
{% endblock %}
