/* css custom */

.header {
    background-image: url(../images/aiki.jpg);
    background: no-repeat contain;
    text-align: center;
    /* background-color: rgb(223, 211, 211); */
    padding: 10rem;
    height: 100vh; 
}

.header h1, .header p {
    color: rgb(99, 94, 94);
    font-weight: bold;
}