{% extends 'base.html.twig' %}

{% block title %}Le Club{{ controller_name }}!{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <h1>Affiliation</h1>
            <p>L'Aïkido Club de Bourg-en-Bresse (Association loi 1901) est affilié à la Fédération Française d'Aïkido, d'Aïkibudo et Affinitaires (F.F.A.A.A), memebre de l'Union des Fédérations d'Aïkido (U.F.A), fédérations reconnues par le Ministére de la Jeunesse et des Sports </p>
        </div>
        <hr>
        <div class="row">
            <img src="{{ asset('images/david.jpg') }}" alt="">
            <h2>David Alves</h2>
            <p>Président</p>
        </div>

    </div>
{% endblock %}
