{% extends 'base.html.twig' %}

{% block title %}Hello {{ controller_name }}!{% endblock %}

{% block body %}
<div class="card" style="width: 18rem;">
  <img class="card-img-top" src="..." alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">Luc Mathevet <br> 6° Dan D.T.R</h5>
    <p class="card-text">Dimanche 27 Janvier 2019</p>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">COSEC FAVIER</li>
    <li class="list-group-item">1, rue du Dr Duby</li>
    <li class="list-group-item">01000 Bourg-en-Bresse</li>
  </ul>
  <div class="card-body">
    <a href="#" class="card-link">Affiche du stage</a>
  </div>
</div>
{% endblock %}
